a {
    color: black;
    text-decoration: none;
}
body{
    background-color: #20B2AA;
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.title {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
    margin: 50px 30px;
    display: flex;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid > * {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-size: calc(8px + 32 * ((100vw - 320px) / (1280 - 320)));

}
.grid > *:hover {
    font-size: calc(10px + 32 * ((100vw - 320px) / (1280 - 320)));
}

/*? POPUP */
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}
.popup__close:hover{
    text-decoration: none;
    font-weight: bold;
}
.popup__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: calc(14px + 26 * ((100vw - 320px) / (1280 - 320)));
}
.popup__text {
    font-size: calc(12px + 24 * ((100vw - 320px) / (1280 - 320)));
}